# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
myenv_py13/
.env

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
